page-connect-user {
    .each-friend {
        margin-top: 5px;
        margin-bottom: 5px;
        span {
            font-size: 20px;
        }
    }
    .title-friend {
        .item-left {
            font-size: 20px;
        }
        .item-right {
            font-size: 20px;
        }
        margin-bottom: 20px;
    }
}