<ion-header>
  <ion-navbar color="white">
    <ion-title (click)="viewUser(userId)">{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content has-footer>
  <div class="messages">
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous messages</span></p>

    <div *ngFor="let message of messagesToShow; let i = index;">
      <div *ngIf="isSender(message) && unreadMessage === i" class="chatbox item-right">
        <div class="user-avatar">
          <img src="{{chatUserImage}}" class="item-right" />
        </div>
      </div>
      <div *ngIf="isSender(message)" class="chatbox right">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" class="chatbox-image" src="{{message.message}}" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
            <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
      </div>


      <div *ngIf="!isSender(message)" class="chatbox left">
        <div *ngIf="message.type == 'text'">
          <p>{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'contact'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" class="chatbox-image" src="{{message.message}}" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
            <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
      </div>

      <div *ngIf="unreadMessage === totalMessageLength && unreadMessage === i + 1" class="chatbox item-right">
        <div class="user-avatar">
          <img src="{{chatUserImage}}" class="item-right" />
        </div>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer>
  <ion-item class="bottom_bar">
    <button item-left ion-button clear (click)="attach()">
      <ion-icon name="md-attach"></ion-icon>
    </button>
    <ion-textarea type="text" rows="0" placeholder="Type your message" [(ngModel)]="message"></ion-textarea>
    <button item-right ion-button clear (click)="send('text')" [disabled]="!message">
      <ion-icon name="md-send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>